/*figure out how to get the line to be 1/3*/

hr{
  height: 0.5px; 
 color: blue;
 width: 33.33%;
}
.h3-notbold{
  color: #666;
  font-size: 28.919px;
  font-style: italic;
  font-weight: 900;
  margin-right: 10px;
}


#filter{
  display:flex;

}

/* check box CSS*/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Explore section*/

/* explore image */
div.explore img {
width: 5%; /* Make the image fill the container width */
height: 5%; /* Maintain aspect ratio */
gap: 1px;
}

h3 {
font-size: 25px;
font-weight: semibold;
align-items:flex-start;
margin-left: 1em;
}

.explore-container {
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: space-around;

}
/* Individual explore */
div.explore{
border: 1px solid #ccc;
max-width: 500px;
width: calc(25% - 10px);
transition: transform 0.2s ease;
}
/* explore image */
div.explore img {
width: 100%; /* Make the image fill the container width */
height: auto; /* Maintain aspect ratio */
gap: 1px;
}

.desc{
    font-weight: bold;
}
.date{
text-align: center;
}


div.explore:hover{ 
transform: scale(1.05);

}

.explore img {
width: 100%;
height: auto; 
}

.desc{
padding:15px;
text-align: center;
}


*{
box-sizing: border-box;
}